@inject IConfiguration Config

<!DOCTYPE html>
<html lang="cs">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="@(Config.GetValue<string>("AppBasePath"))" />
    
    <link rel="stylesheet" href="@Assets["lib/bootstrap/css/bootstrap.min.css"]" />
    <link rel="stylesheet" href="@Assets["css/site.css"]" />
    <link rel="stylesheet" href="@Assets["Kopec.Web.styles.css"]" />

    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <meta name="keywords" content="Vývoj software .NET" />
    <meta name="description" content="Vývoj software .NET" />
    <meta name="seznam-wmt" content="tMpHUqzHbSEV2xozk91T8J7Xxo7BbfSv" />

    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="@Assets["_framework/blazor.web.js"]"></script>
    <script src="@Assets["lib/bootstrap/js/bootstrap.bundle.min.js"]"></script>
</body>

</html>
